h1 {
  text-align: center;
}
/* nav{
  background-color: steelblue;
  padding: 10px;
  } */
  nav {
    text-align: center;
}
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }
  h1 {
    color: steelblue;
  }
  /* img {
    width: 80%;
    border: 2px solid steelblue;
  } */
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
/* }
  * {
    border: 2px solid blue;
} */
  p {
    padding: 10px;
    width: 80%;
  }
  footer #active {
    background-color: steelblue;
    color: white;
  }


